@model netProject.Models.Programs

@{
    ViewData["Title"] = "Redigera utbildning";
}
<h1>Redigera utbildning</h1>

<section>
<h2>@Model.programsTitle</h2>
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="errorMsg"></div>
            <input type="hidden" asp-for="programsId" />
            <div>
                <label asp-for="programsTitle"></label>
                <input asp-for="programsTitle" />
                <span asp-validation-for="programsTitle" class="errorMsg"></span>
            </div>
            <div>
                <label asp-for="programsSchool"></label>
                <input asp-for="programsSchool"/>
                <span asp-validation-for="programsSchool" class="errorMsg"></span>
            </div>
            <div>
                <label asp-for="programsDegree"></label>
                <input asp-for="programsDegree"/>
                <span asp-validation-for="programsDegree" class="errorMsg"></span>
            </div>
            <div>
                <label asp-for="programsStartdate"></label>
                <input asp-for="programsStartdate"/>
                <span asp-validation-for="programsStartdate" class="errorMsg"></span>
            </div>
            <div>
                <label asp-for="programsEnddate"></label>
                <input asp-for="programsEnddate"/>
                <span asp-validation-for="programsEnddate" class="errorMsg"></span>
            </div>
            <div>
                <input type="submit" value="Save"/>
            </div>
        </form>
    </div>
</div>

<div class="alignLeft accountDiv">
    <a asp-action="Index">Tillbaka till översikt</a>
</div>

</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
