@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Glömt ditt lösenord?";
}

<h1>@ViewData["Title"]</h1>
<h2>Skriv in din email</h2>
<hr />
<div>
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="errorMsg"></div>
            <div >
                 <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="errorMsg"></span>
            </div>
            <input type="submit" value="Återställ lösenord">
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
