@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Skicka registreringsmail igen";
}

<h1>@ViewData["Title"]</h1>
<h2>Skriv in din mail</h2>
<hr />
<div>
    <div>
        <form method="post">
            <div asp-validation-summary="All" class="errorMsg"></div>
            <div>
                <label asp-for="Input.Email" ></label>
                <input asp-for="Input.Email"aria-required="true" />
                <span asp-validation-for="Input.Email" class="errorMsg"></span>
            </div>
            <input type="submit" value="Skicka igen">
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
