@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Konfirmation av lösenordsåterställning";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">Klicka här för att logga in</a>.
</p>
